alias vpn="sudo openvpn --config /etc/openvpn/client.conf"
alias polybarconfig="nvim ~/dotfiles/.polybar.config"
alias i3config="nvim ~/dotfiles/.i3.config"
alias vimconfig="nvim ~/dotfiles/.nvimrc"
alias zshconfig="nvim ~/dotfiles/.zshrc"
alias simpleunix="curl -L https://git.io/unix"
alias weather="echo 'Getting weather for Cologne, Germany...' && 
curl wttr.in/~Cologne"
alias mount="mount |column -t"
alias vi="nvim"
alias vim="nvim"
alias install="aurman -S"
alias uninstall="aurman -R"
alias update="aurman -Syyu"
alias wifi="nmtui"
alias sound="pavucontrol"
alias suspend="systemctl suspend"
alias ..="cd .."
alias calc="bc"
alias sha256="openssl sha256"
alias diff="colordiff"
