
*background:                      #000000
*foreground:                      #abb2bf
*cursorColor:                     #abb2bf

*color0:     #000000
*color1:     #be5046
*color2:     #98c379
*color3:     #d19a66
*color4:     #61afef
*color5:     #800080
*color6:     #008080
*color7:     #c0c0c0
*color8:     #5c6370
*color9:     #e06c75
*color10:    #98c379
*color11:    #e5c07b
*color12:    #61afef
*color13:    #c678dd
*color14:    #56b6c2
*color15:    #abb2bf

URxvt.font: xft:Inconsolata Nerd Font Mono:size=13, xft:FontAwesome:size=13 
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 0
URxvt*geometry: 70x19
URxvt.fading: 20
URxvt.background: 0 
URxvt*urlLauncher: chromium

rofi.modi: window,run,ssh,drun
rofi.show-icons: true
rofi.terminal: urxvt

rofi.font: Product Sans 19

rofi.width: 100
rofi.padding: 450
rofi.hide-scrollbar: true

rofi.color-active: #00000000, #9e9e9e, #00000000, #00000000, #ffffff 
rofi.color-urgent: #00000000, #8c2828, #00000000, #00000000, #9b1111 
rofi.color-normal: #00000000, #9e9e9e, #00000000, #00000000, #ffffff 
rofi.color-window: #87000000, #00000000, #00000000
rofi.bw: 0

rofi.lines: 5
rofi.line-padding: 5
